<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="P_421_Import" connectionString="
			 Data Source=DESKTOP-KRJMHB4\SQLEXPRESS;
			 Initial Catalog=p_421_import;
			 Integrated Security=True;
			 Connect Timeout=3;
			 Encrypt=False;
			 TrustServerCertificate=True;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False
			 "/>
	</connectionStrings>
</configuration>